body {
    background-color: #85AD9E ;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #001524;
}
main {
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Rubik Mono One", monospace;
    font-size: 64px;
    transition: transform ease-out 2s;
}

/*Start of sidebar styling*/

.sidebar {
    background-color: #CD5C08;
    max-width: 200px;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    padding: 0px 10px;
}

.logo {
    max-width: 150px;
    width: 100%;
    margin: 20px 0px;
}

.navigation {
    display: flex;
}

.navigation_container {
    flex-direction: column;
    max-width: 180px;
    width: 100%;
    background-color: #85AD9E;
    border-radius: 20px;
    margin: 20px 0px;
}

.navigation_container ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navigation__links {
    flex-direction: column;
    align-items: center;
}

.link {
    list-style: none;
    display: flex;
}

.link__page:hover {
    color: #F5E8B7;
    font-size: 24px;
}

.link__page {
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center; 
}

.link__page_home {
    border-radius: 20px 20px 0 0;
}

#current-page {
    background-color: #6C9D8B ;
}

.link_center-line {
    width: 80%;
    height: 100%;
    border-bottom: #6C9D8B solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.navigation__socials {
    margin: 5px 0;   
}
.navigation__socials ul {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.link__container {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.link__social:hover {
    color: #F5E8B7;
    transform: scale(1.25);
}

/* End of sidebar styling*/

/*´Start of content styling*/

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.content__header {
    background-color: #D8F2B8;
    max-height: 200px;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: sticky;
    top: 0;
}

.content__header:hover {
    h1 {
        animation: titleZoom 3s ease-in;
        transform: scale(1.2);
    }
}

@keyframes titleZoom {
    0% {transform: scale(1);}
    75%{transform: scale(1.5);}
    100%{transform: scale(1.2);}
}

.content__body {
    padding-top: 20px;
    background-color: #85AD9E;
    z-index: 1;
}

.gallery-card {
    display: flex;
}

.gallery-card__container {
    max-height: 400px;
    height: 100%;
    margin: 0 20px 20px 20px;
}

.gallery-card__tab {
    height: 250px;
    width: 50px;
    align-self: flex-start;

    justify-content: center;
    align-items: center;
    background: linear-gradient(#D8F2B8 75%, #D0EFA9);
    border-radius: 10px 0 0 10px;
}

.gallery-name {
    transform: rotate(-90deg);
    font-size: 32px
}
.gallery-card__body  {
    height: 400px;
    max-width: 1353px;
    width: 100%;
    justify-self: stretch;
    border-radius: 0 10px 10px 10px;
    background-color: #D8F2B8;
}

.gallery-card__carousel {
    max-width: inherit;
    width: 100%;
    justify-content: center;
    margin: 15px;
    border-radius: 7px;
    overflow: hidden;

}

.gallery-image {
    max-height: 370px;
    height: 100%;
}

.gallery-image__container {
    display: flex;
    justify-content: center;
    max-width: 300px;
    overflow: hidden;
    margin: 0 2px;
    transition: transform 0.5s;
}

.gallery-image_1{
    margin: 0 2px 0 0;
}
.gallery-image_5 {
    margin: 0 0 0 2px;
}

.gallery-image__container:hover {
    position: relative;
    transform: scaleX(2);
    z-index: 99;
    .gallery-image__content {
        background-color: #6C9D8B;
        border-width: 0px 4px;
        transform: scaleX(0.5);
        justify-self: center;
    }
}
/*End of content styling*/